<%- include("partials/header") -%>

<section class="banner" style="background-image: url('images/about.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="text justify-content-center align-items-center"
            data-scrollax-parent="true">
            <div class="text-center">
                <span class="subheading title">CodeRun</span>
                <h1 class="mb-4 subheading subtitle">Learn Python Programming!</h1>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer") -%>